{% if deal is not empty %}
    <div class="deals-item">
        {#
        {% if deal.image is not empty %}
        <div>

        </div>
        {% endif %}
        #}
        <div class="deals-item__header">
            <a class="deals-item__title" href="{{ path('app_deal_detail', {'id': deal.id}) }}">Titre : {{ deal.titre }}</a>
            <div class="deals-item__degrees">
                <a class="deals-item__degrees__minus" href="{{ path('app_deal_voterPlus', {'id': deal.id}) }}"><i class="fas fa-minus"></i></a>

                {{ deal.getDegres()|trans }}
                <a class="deals-item__degrees__plus" href="{{ path('app_deal_voterPlus', {'id': deal.id}) }}"><i class="fas fa-plus"></i></a>
            </div>
            {%  if deal.type == 'BonPlan' %}
                <div class="deals-item__price"><div>{{ deal.prix }}€</div><div class="deals-item__price__default">{{ deal.prixHabituel }}€</div></div>
            {%  endif %}
            {%  if deal.type == 'CodePromo' %}
                <div class="deals-item__reduc">-{{ deal.montant }}€</div>
            {%  endif %}
            <div class="deals-item__description">{{ deal.description|slice(0,100) }}
                {% if deal.description|length > 100 %}
                    ... <a class="deals-item__description__more" href="{{ path('app_deal_detail', {'id': deal.id}) }}">Afficher plus</a>
                {% endif %}</div>
            <div class="deals-item__comments-count"><i class="fas fa-comment deals-item__comments-count__icon" style="transform: rotateY(180deg);"></i>{{ deal.commentaires.count()}}</div>
            <div class="deals-item__link">
                <a class="btn btn-primary" href="{{ path('app_deal_detail', {'id': deal.id}) }}">Detail</a>
            </div>
        </div>
    </div>
{% endif %}