{% extends 'base.html.twig' %}

{% block title %}
    {% if titre is defined %}
         {{ titre }}
    {%  endif %}
{% endblock %}

{% block body %}
    {% if account | default(false)%}
        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
                <a class="nav-link" href={{ path('app_account_myAccount') }}>Mon profil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href={{ path('app_account_myStats') }}>Mes stats</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href={{ path('app_account_mesBadges') }}>Mes badges</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{ DealsSaved | default("") }}"  href={{ path('app_account_dealsSaved') }}>Deals sauvegardés</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{ MesDeals | default("") }}" href="{{ path('app_account_myDeals') }}">Mes deals</a></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_account_myAlerts') }}">Mes alertes</a>
            </li>
        </ul>
    {% endif %}
    {% if titre is defined %}
        <h1>{{ titre }}</h1>
    {%  endif %}
    {% if deals is empty %}
        <h2>Aucun deal, tristesse</h2>
    {% endif %}
    <div class="deals-layout">
      <div class="deals-container">
          {% for deal in deals %}
              {% include('entity/deal/deal_preview.html.twig') %}
          {% endfor %}
      </div>
      {% if dealsJourHot is defined and dealsJourHot|length > 0 %}
        <div class="deals-layout-side deals-item__shadow">
          <div class="deals-layout-side__title">
            Les deals les plus Hot <i class="fas fa-fire" style="color: #ef5350; font-size: 130%"></i>
          </div>
          <div class="deals-layout-side__items-container">
            {% for deal in dealsJourHot %}
              {% include('entity/deal/deal_preview_side.html.twig') %}
            {% endfor %}
          </div>
        </div>
      {% endif %}
    </div>

{% endblock %}

