{% if deal is defined and deal is not empty %}
    <div class="deals-item deals-item__shadow">
        {#
        {% if deal.image is not empty %}
        #}
        <div class="deals-item__picture">
          <img class="imageFile_file" src="{{ vich_uploader_asset(deal, 'imageFile') }}">
        </div>
        {#
        {% endif %}
        #}
        <div class="deals-item__header">
            <a class="deals-item__title Titre" {% if deal.id is not empty %} href="{{ path('app_deal_detail', {'id': deal.id}) }}" {% endif %}>{{ deal.titre }}</a>
            {% include('entity/deal/deal_degrees.html.twig') %}
            {% include('entity/deal/deal_price.html.twig') %}
            <div class="deals-item__description Description">{{ deal.description|slice(0,100) }}
                {% if deal.description|length > 100 %}
                    ... <a class="deals-item__description__more" href="{{ path('app_deal_detail', {'id': deal.id}) }}">Afficher plus</a>
                {% endif %}</div>
            <a class="deals-item__comments-count" {% if deal.id is not empty %} href="{{ path('app_deal_detail', {'id': deal.id}) }}#comments" {% endif %}><i class="fas fa-comment deals-item__comments-count__icon" style="transform: rotateY(180deg);"></i>{{ deal.commentaires.count()}}</a>
            <div class="deals-item__link">
                <a class="btn btn-primary" {% if deal.id is not empty %} href="{{ path('app_deal_detail', {'id': deal.id}) }}" {% endif %}>Detail</a>
            </div>
            {% if app.user is not empty %}
              {% set dealsSaved = app.user.dealsSaved %}
              {% include('entity/deal/deal_saved.html.twig') %}
            {% endif %}
        </div>
    </div>
{% endif %}